.container {
  line-height: 0;
  column-count: 5;
  column-gap: 0px;
  margin-left: 10rem;
  margin-right: 10rem;
}

.container img {
  width: 100% !important;
  height: auto !important;
  border-left: 5px solid #fefefe;
  border-top: 5px solid #fefefe;
}

button {
  background: none;
  border: none;
  outline: transparent;
  padding: 5px;
  cursor: pointer;
}

input[type="submit"] {
  background-color: blanchedalmond;
  padding: 10px 12px;
  border-radius: 5px;
  border: transparent;
  outline: none;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.8);
  position: relative;
  top: 0;
  left: 0;
}

/* handling over lay */
.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  opacity: 0;
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 15px;
}

.overlay:hover {
  opacity: 1;
}

.container .imgcontainer {
  position: relative;
  margin-left: 15px;
}

/* handling overlay icons */
.faDownload {
  color: #fff;
  padding: 5px;
}

.likes {
  color: red;
}

.icon_container span {
  color: #fff;
  font-size: 16px;
  padding: 5px;
}

.icon_container {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  .container {
    line-height: 0;
    column-count: 1;
    column-gap: 5px;
    margin: 0.5rem;
  }

  /* handling over lay */
  .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    opacity: 0;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .overlay:hover {
    opacity: 1;
  }

  .container .imgcontainer {
    position: relative;
    align-items: center;
    text-align: center;
    margin: 15px;
  }
  .container img {
    width: 100% !important;
    height: auto !important;
    margin: 5px;
    text-align: center;
  }

  /* handling overlay icons */
  .faDownload {
    display: flex;
    color: #fff;
  }

  .likes {
    color: red;
  }

  .icon_container span {
    color: #fff;
    font-size: 14px;
    padding: 5px;
  }

  .icon_container {
    display: flex;
    align-items: center;
  }

  .user {
    max-width: 100%;
    margin: 0.5rem;
  }
}
@media only screen and (max-width: 400px) {
  .container {
    line-height: 0;
    column-count: 1;
    column-gap: 5px;
  }

  .container img {
    width: 100% !important;
    height: auto !important;
    border-left: 2px solid #fefefe;
    border-top: 2px solid #fefefe;
  }
}
