.container {
  line-height: 0;
  column-count: 5;
  column-gap: 0px;
}

.container img {
  width: 100% !important;
  height: auto !important;
}

input[type="search"] {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 5px;
  color: #010101;
  padding: 8px 10px;
  word-spacing: 2px;
  font-size: 16px;
  border: transparent;
  outline: none;
  max-width: 100%;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.8);
}
